<label for="transactiontype">Select a transaction type: </label>
<select id="transactiontype" [formControl]="transactionFormGroup.controls.transaction_type">
  <option *ngFor="let opt of ModeType | keyvalue" value="TransactionType.{{opt.value}}" selected>{{opt.key | titlecase}}</option>
</select>

<form [formGroup]="transactionFormGroup">
  <!-- Withdraw or Transfer-->
  <app-dropdown 
    dropdownId="source"
    dropdownText="Source Account: "
    [dropdownDataSrc]="accounts"
    (onChange)="onSourceChange($event)"
    [fCtrl]="transactionFormGroup.controls.source_bank_account_id"
    
    *ngIf="snapshot.transaction_type === 'TransactionType.WITHDRAW' || snapshot.transaction_type === 'TransactionType.TRANSFER'"
  ></app-dropdown>

  <!-- Deposit or Transfer-->
  <app-dropdown 
    dropdownId="target"
    dropdownText="Target Account: "
    [dropdownDataSrc]="targetMenuAccounts"
    [fCtrl]="transactionFormGroup.controls.target_bank_account_id"
    *ngIf="snapshot.transaction_type === 'TransactionType.DEPOSIT' || snapshot.transaction_type === 'TransactionType.TRANSFER'"
  ></app-dropdown>

  <div *ngIf="snapshot.transaction_type === 'TransactionType.WITHDRAW'">
    <label for="maxwithdrawl">Would you like to withdraw the full value of this account?</label>
    <input
      id="maxwithdrawl"
      type="checkbox"
      (click)="onFullAmountClicked()"
    >
  </div>

  <div *ngIf="!transferFullSourceAmount">
    <label for="amount">Amount: </label>
    <input
      id="amount"
      type="number"
      [formControl]="transactionFormGroup.controls.amount"
      (blur)="updateAmountValidity()"
    >
    <div *ngIf="transactionFormGroup.get('amount').errors?.aboveMax">Amount is above {{selectedSourceAcc.current_value}}</div>
  </div>

  <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert">
    <div *ngIf="amount.errors?.['required']">
      Amount is required.
    </div>
    <div *ngIf="amount.errors?.['min']">
      Amount must be greater than zero.
    </div>
    <div *ngIf="amount.errors?.['max']">
      Amount cannot be greater than {{selectedSourceAcc.current_value}}
    </div>
  </div>

  <div>
    <label for="description">Description: </label>
    <textarea
      id="description"
      type="textarea"
      formControlName="description"
    ></textarea>
  </div>
  <button type="submit" (click)="onSubmit()" [disabled]="transactionFormGroup.invalid">Submit</button>
</form>



<!--pre>{{transactionFormGroup.value | json}}</pre>
<pre>selectedSourceAcc{{selectedSourceAcc | json}}</pre>
<pre>Validity: {{transactionFormGroup.status | json}}</pre>
<pre>selectedMode: {{selectedMode}}</pre>
<pre>transactionType.value: {{transactionType.value}}</pre>
<pre>snapshot.transaction_type: {{snapshot.transaction_type}}</pre>

<pre>transactionFormGroup.errors?: {{transactionFormGroup.errors | json}}</pre>
<pre>transactionType?.errors: {{transactionType?.errors | json}}</pre>
<pre>sourceAccount?.errors: {{sourceAccount?.errors | json}}</pre>
<pre>sourceAccount?.touched: {{sourceAccount?.touched | json}}</pre>
<pre>sourceAccount?.dirty: {{sourceAccount?.dirty | json}}</pre>
<pre>targetAccount?.errors: {{targetAccount?.errors | json}}</pre>
<pre>amount?.errors: {{amount?.errors | json}}</pre>
<pre>description?.errors: {{description?.errors | json}}</pre-->
